.centered-element {
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    color: red;
}

body{
    background-color: gray;
}

.centered-element2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

h1{
    color: goldenrod;
    text-decoration: underline;
}








